// See: https://sass-lang.com/

body {
  .row {
    margin-top: 50px;
  }
  .body-row {
    margin-top: 50px;
    display: flex;
    justify-content: row;
  }
}

.artist-section {
  margin-top: 100px;
  margin-bottom: 25px;
}

.filter {
  margin-top: 25px;
}

.delete-soldout-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.favourite-button {
  background: none;
  border: none;
  float: right;
}

.card-img-top {
  height: 127px;
}

.delete-form {
  float: right;
}

.delete-button {
  background: none;
  border: none;
}
